{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
    <h1>This is the home page!</h1>
    <div class="row">
        <div class="col">col1</div>
        <div class="col">
            <button class="btn btn-light" id="write-to-console" type="button">Write a translated word (Into console)</button>
        </div>
        <div class="col">
            <button class="btn btn-light" data-target="#modal-test" data-toggle="modal" type="button">Launch modal</button>
        </div>
    </div>
    <div class="modal" id="modal-test" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button">Save changes</button>
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
