{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden</h1>

    <p>
        You are a vilain... but we are watching you ! <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}